VITE_TAIGA_BASE_URL=https://taiga-base-url/api/v1 ; replace taiga-base-url with your taiga base url. This is always needed
; VITE_TAIGA_API_LOGIN=true ; if you want to login using the taiga api and not a keycloak instance
; The following variables are only needed if you want to login using keycloak
VITE_KEYCLOAK_URL=https://keycloak-url ; url of your keycloak instance
VITE_KEYCLOAK_REALM=default ; realm used in your keycloak instance
VITE_KEYCLOAK_CLIENTID=taiga ; client id used in your keycloak instance